body {
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
h1 {
	font-size: 22px;
	border-bottom: 2px solid grey
	}

h2 {font-size: 18px;}
ul {
	width: 400px;
	
	
	background-color:#efefef;
	}

	/* Add a simple nav bar using this code https://www.w3schools.com/howto/howto_js_sidenav.asp */